[Unit]
Description=redis-server
After=network.target
[Service]
Type=forking
ExecStart=/usr/local/redis-6.0.9/src/redis-server /usr/local/redis-6.0.9/redis.conf
PrivateTmp=true
[Install]
WantedBy=multi-user.target